.label-checkbox {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 32px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.label-checkbox:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + .label-checkbox {
    background: #bada55;
}

input:checked + .label-checkbox:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.label-checkbox:active:after {
    width: 60px;
}

input[type="checkbox"]{
    visibility: hidden;
}
.form-checkbox{
    display: flex;
    justify-content: center;
}